__pycache__/
restaurantbookinglab/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
dist/
build/
htmlcov/
.tox/
.coverage
.cache/
.pytest_cache/

*.env
*.ini
*.conf
*.config

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
__MACOSX/
.Spotlight/
.Trashes
ehthumbs.db
Thumbs.db

.idea/
.vscode/

dump.rdb
